@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    src:
      local("Nunito"),
      url("/modules/news/fonts/Nunito-Regular.ttf") format("truetype");
}

@keyframes rotate { 
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes pop-up {
	0% {
		transform: scale(0.25);
	  	opacity: 0;
	}
	100% {
	    transform: scale(1);
	  	opacity: 1;
	}
}

.spinner {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 3px solid rgb(144, 103, 0);
	border-top-color: rgb(240, 171, 0);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px; 
	margin-left: -40px;
	animation: rotate 1s infinite cubic-bezier(1, 0.3, 0.3, 0.7);
}

* {
	font-size: 100%;
}

.highlight {
	color: rgb(240, 171, 0);
}

.news-content {
	animation: pop-up 1s normal cubic-bezier(1, 0.3, 0.3, 0.7);
}
