
.currentweather {
  margin-left: 30px;
  margin-top: 30px;
}

.currentweather span {
  font-size: 70%;
}

.currentweather .weathericon,
.currentweather .fa-home {
  line-height: 60px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.currentweather .humidityIcon {
  padding-right: 4px;
}

.currentweather .humidity-padding {
  padding-bottom: 6px;
}
