@font-face {
	font-family: Questrial;
	src: local("Questrial"), url("/modules/dshop-menu/fonts/Questrial-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-menu/fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-menu/fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

.menu-icon {
	width: 80px;
	margin: 40px;
	height: auto;
}

ul {
	list-style-type: none;
}