@font-face {
	font-family: Questrial;
	src: local("Questrial"), url("/modules/dshop-news/fonts/Questrial-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-news/fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-news/fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
