@font-face {
	font-family: Questrial;
	src: local("Questrial"), url("/modules/dshop-news/fonts/Questrial-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-news/fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Quicksand;
	src: local("Quicksand"), url("/modules/dshop-news/fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@keyframes rotate {
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes scale-up {
	0% {
		transform: scale(0.25);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes swipe-right {
	0% {
		opacity: 0;
		transform: rotateY(80deg);
		transform-origin: left;
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
		transform-origin: left;
	}
}

@keyframes swipe-left {
	0% {
		opacity: 0;
		transform: rotateY(80deg);
		transform-origin: right;
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
		transform-origin: right;
	}
}

#spinner {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid black;
	border-top-color: rgb(240, 171, 0);
	border-bottom-color: rgb(240, 171, 0);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	animation: rotate 1s infinite cubic-bezier(1, 0.3, 0.3, 0.7);
}

* {
	font-size: 100%;
	color: white;
}

body {
	height: 100%;
	width: 100%;
}

.highlight {
	color: rgb(240, 171, 0);
}

.mdl-grid {
	margin: 2px;
	padding: 2px;
}

#news-title-div, #news-location-div, #news-date-div, #news-image-div, #news-description-div {
	font-family: Quicksand;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#news-title {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

#news-location, #news-date {
	margin: 0px;
	margin-bottom: 8px;
	padding: 0px;
}

#news-image {
	margin-top: 30px;
	margin-bottom: 30px;
	max-height: 800px;
	width: 100%;
	height: auto;
}

p#news-description {
	margin: 0px;
	padding: 0px;
	font-family: Questrial;
	font-size: 180%;
	line-height: 150%;
	text-align: justify;
}

#news-content {
	margin-top: 50px;
	animation: scale-up 1s normal cubic-bezier(1, 0.1, 0.2, 0.8);
}

#news-content.right {
	animation: swipe-right 0.4s normal cubic-bezier(1, 0.1, 0.2, 1);
}

#news-content.left {
	animation: swipe-left 0.4s normal cubic-bezier(1, 0.1, 0.2, 1);
}
